#Ignorer les dossiers fichier relatifs à l'environnement de travail
.venv
__pycache__
#Ignorer les dossiers stockant les images
Books Pictures
#Ignorer les fichiers csv
*.csv
#Ignorer les dossiers catégories
1*
2*
3*
4*
5*
6*
7*
8*
9*

